entries: [
  {description: "mmlu:model=text,subject=abstract_algebra,data_augmentation=canonical", priority: 2}
  {description: "mmlu:model=text,subject=anatomy,data_augmentation=canonical", priority: 3}
  {description: "mmlu:model=text,subject=college_chemistry,data_augmentation=canonical", priority: 2}
  {description: "mmlu:model=text,subject=computer_security,data_augmentation=canonical", priority: 2}
  {description: "mmlu:model=text,subject=econometrics,data_augmentation=canonical", priority: 2}
  {description: "mmlu:model=text,subject=global_facts,data_augmentation=canonical", priority: 3}
  {description: "mmlu:model=text,subject=jurisprudence,data_augmentation=canonical", priority: 3}
  {description: "mmlu:model=text,subject=philosophy,data_augmentation=canonical", priority: 3}
  {description: "mmlu:model=text,subject=professional_medicine,data_augmentation=canonical", priority: 3}
  {description: "mmlu:model=text,subject=us_foreign_policy,data_augmentation=canonical", priority: 2}
  {description: "mmlu:model=text,subject=astronomy,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=business_ethics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=clinical_knowledge,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=college_biology,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=college_computer_science,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=college_mathematics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=college_medicine,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=college_physics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=conceptual_physics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=electrical_engineering,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=elementary_mathematics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=formal_logic,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_biology,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_chemistry,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_computer_science,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_european_history,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_geography,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_government_and_politics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_macroeconomics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_mathematics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_microeconomics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_physics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_psychology,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_statistics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_us_history,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=high_school_world_history,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=human_aging,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=human_sexuality,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=international_law,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=logical_fallacies,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=machine_learning,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=management,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=marketing,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=medical_genetics,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=miscellaneous,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=moral_disputes,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=moral_scenarios,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=nutrition,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=prehistory,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=professional_accounting,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=professional_law,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=professional_psychology,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=public_relations,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=security_studies,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=sociology,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=virology,data_augmentation=canonical", priority: 4}
  {description: "mmlu:model=text,subject=world_religions,data_augmentation=canonical", priority: 4}
  
  {description: "truthful_qa:model=text,task=mc_single,data_augmentation=canonical", priority: 1}

  {description: "summarization_cnndm:model=text,temperature=0.3,device=cpu", priority: 1}

  {description: "gsm:model=text", priority: 2}
]
